<section class="">
    <gias-kendo-grid 
      #zooProtocolsInProgressGrid 
      class="kendo-grid-no-shadows"
      [customCommandColumnCellTemplate]="customCommandColumn">
    </gias-kendo-grid>

    <ng-template #customCommandColumn let-dataItem="dataItem">
      <div>
        <button
          kendoButton
          kendoTooltip
          (click)="toAgenda(dataItem)"
          [title]="'ProtocolloToAgenda' | transloco"
          fillMode="flat">
          <i aria-hidden="true" class="k-i-xi-tools-to-agenda"></i>
        </button>
      </div>
    </ng-template>
  </section> 