.k-window-content, .k-prompt-container {
    overflow: auto !important;
}

.infotext {
    padding: 20px;
    display: block;
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.btn-container {
  /*width: 50%;*/
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px 0px;
}

.btn {
    margin-right: 15px;
}

.grid-imprese-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-end;
}

.full-width {
  width: 100% !important;
}
