<gias-kendo-grid [id]="'ZooGrid'" class="kendo-grid-no-shadows" [customCommandColumnCellTemplate]="customCommandColumn">

  <ng-container headerContentEnd>
     <ng-container *ngTemplateOutlet="stampeRef;">
        </ng-container>
  </ng-container>

  <!--<kendo-grid-command-column [headerStyle]="{
    'background-color': '#428BCA',
    'color': 'white'
  }"
  [width]="'auto'"
  [title]="'Comandi' | transloco">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem let-rowIndex="rowIndex">
      <div class="btn-group">
        <button (click)="copiaOperazione(dataItem)" class="btnCopia btn btn-warning" style="margin-left: 5px;"> {{ 'Copia' | transloco }} </button>
      </div>
    </ng-template>
  </kendo-grid-command-column>-->
</gias-kendo-grid>

<ng-template #warningDialogRef>
  <div [innerHTML]="warningDialogMsg"></div>
</ng-template>

<ng-template #customCommandColumn let-dataItem="dataItem">
  <div class="btn-group">
    <button (click)="copiaOperazione(dataItem)" class="btnCopia btn btn-warning" style="margin-left: 5px;"> {{ 'Copia' | transloco }} </button>
  </div>
</ng-template>
