<appSettings>

    <!-- Nome del Servizio Windows default se "" => "Agro-GSB
        ATTENZIONE!!! MASSIMO 8 CARATTERI perchè solo i primi 8 sono significativi per il file di log, 
        e si incasinerebbe quindi lo lascio vuoto-->
    <add key="Nome_LogAgroServizio_8CaratteriMax" value="" />

    <add key="pausaPerDebug" value="30" />

    <add key="DataProviderType" value="SqlDataProvider"/>

    <!-- ##### cnONLINE_Super_Server ################################################################# -->
    <add key="Super_Server" value="true" />
    <add key="cnONLINE_Super_Server" value="cnONLINE_Super_Server" />
    <add key="Super_Server_Provider" value="SQLOLEDB" />

	
	
	
	
	<!--<add key="Super_Server_DB" value="GIAS_Super_Server_GiasLan"/>-->
    <add key="Super_Server_DB" value="GIAS_Super_Server" />
    <add key="Super_Server_UserId" value="agronauta" />
    <add key="Super_Server_Password" value="s3rv1c3" />
    <add key="Super_Server_PivaSuperUser" value="" />



	<add key="CartellaAgronomica30RitardoVariabileExe" value="C:\Applicativi\Agronomica30_RitardoVariabile_2_0"/>

	<!--<add key="Super_Server_Server" value="AGRODEV1\SQL2008ITA"/>-->
	<!--<add key="Super_Server_Server" value="AGRODEV1\SQL2008R2ENG"/>-->
	<!--<add key="Super_Server_Server" value="AGRODEV1\SQL2017ITA"/>-->
	<!--<add key="Super_Server_Server" value="AGRO-SRV-DEV-21\SQL2019ITA" />-->
	<!--<add key="Super_Server_Server" value="SQL2022DEV\SQL2022DEV" />-->
    <!--<add key="Utente_Username" value=""/>-->

    <!-- DISPACCIATORE FASCICOLI-->
    <add key="WS_Dispacciatore_Fascicoli" value="http://192.168.1.245/WS_AgroFascicoloBA/FascicoloMM_FascicoloWS.asmx" />

    <!-- COLDIRETTI -->
    <!--<add key="WS_Anagrafe" value="https://agri.regione.emilia-romagna.it/MandatoWS/services/Fascicolo"/>
    <add key="pwdWSAnagrafe_Coldi" value="MARINES_800"/>
    <add key="usernameWSAnagrafe_Coldi" value="WS_CAACOLDIRETTI"/>
    <add key="limite_Giornaliero" value="800"/>
    <add key="Ws_Agrea" value="http://agreagestione.regione.emilia-romagna.it/FornituraServiziWS/services/GetPianoColturale"/>
    <add key="pwdWSAgrea_Coldi" value="4909cd38171c62cf4627308ea9d7f56bd6b44009"/>
    <add key="usernameWSAgrea_Coldi" value="ws_coldiretti"/>-->

    <!--Ferrara Food 
    <add key="Super_Server_Server" value="AGRODEV1\SQL2012ITA"/>
    <add key="Utente_Username" value="ferrarafoodspa"/>
    -->

    <!--SBTF-->
    <!--<add key="Super_Server_Server" value="AGRODEV1\SQL2012ITA"/>
    <add key="Utente_Username" value="bonificheferraresi"/>-->


    <!--TELEREGISTRI - CABRUCIATA
    <add key="Super_Server_Server" value="AGRODEV1\SQL2008ITA"/>
    <add key="Utente_Username" value="cabruciata"/>
    -->

    <!--apofruit
    <add key="Super_Server_Server" value="AGRODEV1\SQL2008ITA"/>
    <add key="Utente_Username" value="apofruit"/>
    -->

    <!--<add key="Utente_Username" value="coldirettinazionale"/>-->

    <!--MARCO G - Da Laffi a Agribologna-->
    <!--<add key="Super_Server_Server" value="AGRODEV1\SQL2008ITA"/>
    <add key="Utente_Username" value="aziendalaffifranco"/>-->

    <!--OPTA piva 03261930543 codice cli 2046 codice sincro 29
    <add key="Super_Server_Server" value="AGRODEV1\SQL2012ITA"/>
    <add key="Utente_Username" value="optatabaccoscarl"/>-->

    <!--ORTOFRUTTAGROSSETO piva 03261930543 codice cli 1 codice sincro 30-->
    <!--<add key="Super_Server_Server" value="AGRODEV1\SQL2012ITA"/>
    <add key="Utente_Username" value="cooportofruttagrosseto"/>-->

    <!-- ################################################################################ -->

    <!-- ##### APOFRUIT_Super_Server ################################################################# -->
    <!--
    <add key="Super_Server" value="true"/>
    -->
    <!--<add key="cnONLINE_Super_Server" value="cnONLINE_Super_Server"/>-->
    <!--
    <add key="Super_Server_Provider" value="SQLOLEDB"/>
    <add key="Super_Server_Server" value="APOFRSRV17\SQL2005"/>
    <add key="Super_Server_DB" value="GIAS_Super_Server"/>
    <add key="Super_Server_UserId" value="agronauta"/>
    <add key="Super_Server_Password" value="s3rv1c3"/>
    -->
    <!--<add key="Super_Server_PivaSuperUser" value=""/> -->
    <!--
    -->
    <!-- ################################################################################ -->


    <!-- FILTRI OPZIONALI 
          Per identificare una o alcune righe di configurazione_servizi
          Chiave tabella= PivaSuperuser + Id_Servizio(sempre 5) + Id_Servizio + Id_Riga-->

    <!-- PivaSuperuser
      - default "" = TUTTI
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - se non valorizzato il programma legge il (o i) superuser nel db UTENTI ma se ne trova più di uno lancia eccezione ora
      - ATTENZIONE, su DB deve essere <> "" che è utilizzato dal core di lettura come 'tutti'
      - al 20/11/2013 gestito solo:Coldiretti=05390270014 -->
    <add key="PivaSuperuser" value="" />


    <!-- Id_Servizio
      - sempre 5=giasOnline, lasciato per eventuale utilizzo ma non impostabile da qui -->


    <!-- Tipo_Sincro
      - default 0 = TUTTI
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - ATTENZIONE, su DB deve essere <> 0 che è utilizzato dal core di lettura come 'tutti'
      - al 20/11/2013 gestito solo:TipiEnumerativi.enum_Tipi_Servizi_Background.ImportazioneMassivaDaAnagrafeBA -->
    <add key="Tipo_Sincro" value="0" />


    <!-- Id_Riga
      - default 0 = TUTTE
      - seleziona le righe in configurazione_servizi che hanno questo valore 
      - ATTENZIONE, su DB deve essere <> 0 che è utilizzato dal core di lettura come 'tutti'
      - E' stato inserito nel caso uno stesso tipo di servizio debba essere presente con una configurazione di parametri differente (esempio differenti piva padre) -->
    <!-- Filtro Opzionale default 0(TUTTI) (ATTENZIONE, su DB deve essere <> 0 che è utilizzato come tutti)-->
    <add key="Id_Riga" value="0" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="RestituisciEccezioniGeneriche" value="false"/>
</appSettings>
