<section class="">
  <gias-kendo-grid #zooProtocolsGrid
  [customCommandColumnCellTemplate]="customCommandColumn"
  ></gias-kendo-grid>
  <ng-template #customCommandColumn let-dataItem="dataItem">
    <div class="column-commands">
      <button
        kendoButton
        kendoTooltip
        (click)="startProtocollo(dataItem)"
        [title]="'ProtocolloStart' | transloco"
        fillMode="flat">
        <i aria-hidden="true" class="k-i-xi-tools-start-protocollo"></i>
      </button>
    </div>
  </ng-template>
</section>
