<ng-container
    [ngTemplateOutlet]="edit ? pwd_edit : placeholder"
></ng-container>

<ng-template #placeholder>
    <span>••••••••</span>
</ng-template>

<ng-template #pwd_edit>
    <form [formGroup]="form" class="flex">
        <div class="flex">
            <kendo-textbox #pwd formControlName="password" [placeholder]="pwdLabel" [clearButton]="false">
                <ng-template kendoTextBoxSuffixTemplate>
                    <fa-icon kendoButton
                        [icon]="isPwdVisible ? faEyeSlash : faEye"
                        (click)="isPwdVisible = !isPwdVisible"
                    ></fa-icon>
                </ng-template>
            </kendo-textbox>
            <span class="form-error" #pwdError></span>
        </div>
        <div class="flex">
            <kendo-textbox #pwdConfirm formControlName="passwordConfirm" [placeholder]="pwdConfirmLabel" [clearButton]="false">
                <ng-template kendoTextBoxSuffixTemplate>
                    <fa-icon kendoButton
                        [icon]="isPwdConfirmVisible ? faEyeSlash : faEye"
                        (click)="isPwdConfirmVisible = !isPwdConfirmVisible"
                    ></fa-icon>
                </ng-template>
            </kendo-textbox>
            <span class="form-error" #pwdConfirmError></span>
        </div>
    </form>
</ng-template>
