.k-icon {
    margin: auto;
    height: 30px;
    width: 30px;
    color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.k-icon.k-i-btn_rileva_soglia_trattamento_antiparassiti {
    background-image: url('assets/custom-icons/icon-general/ic_options_rileva_soglia_trattamento_antiparassiti_on.svg');
}

.avversita-title-container {
    display: flex;
}

.card-title {
    flex: 1;
}
.ricerca-gestione-prodotto {
    display: flex;
    flex:1;
    justify-content: flex-end;
}
