<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PivaSuperUser_ORIGINE" value="80062590379"/>   
    <add key="UsernameSuperUser_Origine" value=""/>
    
    <add key="Import_CodFiscale_ORIGINE" value="05644051004"/>
    <add key="Import_Username_ORIGINE" value="coldirettinazionale"/>
    <add key="cr2" value="74b7ca09-dbe5-4e5d-9a70-661cb5f60587"/>

  </appSettings>
  <connectionStrings>
    <add name="cnGias" connectionString="Provider=SQLOLEDB.1;User ID=agronauta;Password=s3rv1c3;Persist Security Info=True;Initial Catalog=AgronicaSementi_server;Data Source=cromo\sql2008;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
