<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151" />
</system.web>
<system.webServer>
  <rewrite>
    <rules configSource="rewriteRules.config" />
  </rewrite>
  <security>
	<requestFiltering>
		<requestLimits maxQueryString="2097151" maxUrl="2097151"/>
	</requestFiltering>
  </security>
</system.webServer>
</configuration>
